<!doctype html>
<html>
<head>
	<title>Faacebook Authentication</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body class="main-body">
<div class="container">
	
	<form>
		<div class="group">
			<h5>Please Login below</h5>
			<hr />
		</div>

		<div class="group">
			<a href="/auth/facebook" class="waves-effect waves-light btn btn-primary">
				<i class="fa fa-facebook-square" aria-hidden="true"></i>
				Facebook
			</a>
		</div>
		
	</form>

	<!-- FOOter 
	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				@ 2016 brnbsjm@gmail.com
				<a class="grey-text text-lighten-4 right" href="#!">Home</a>
			</div>
		</div>
	</footer> -->

</div>
</body>
</html>
